.form{
    width: 30%;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.submit-button button{
 
    color: green;
}